img {
    max-width: 100%;
}

/** Informacion del tour */
.header_information {
    height: 560px;
    position: relative;
}
.select{
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: var(--color-black);
    border: none;
    border-radius: 5px;
    border: 1px solid #6e6e6e;
    outline: none;
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon  points="0,0 100,0 50,50" style="fill:%236E6E6E" /></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 20px;
}
.select > option{
    font-family: var(--font-poppins);
}

 /* header */
.text_infomation {
    position: absolute;
    width: 60%;
    height: 330px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-static-white);

    background: rgba(0, 0, 0, 0.45);
    border-radius: 200px 0px 0px 200px;
    overflow: hidden;
}

.text_infomation .titulo {
    text-align: center;
    font-size: 44px;
    font-family: var(--font-montserrat);
    width: 80%;
}

.text_infomation .descripcion {
    text-align: center;
    font-size: 18px;
    font-family: var(--font-poppins);
    width: 90%;
    padding: 10px;
}

/** Informacion de lugares */
.information_places {
    max-width: 1300px;
    margin: 2rem auto;
    margin-bottom: 0;
    width: 100%;
}

.place {
    max-width: 1200px;
    width: 90%;
    background-color: var(--bg-blanco-f3);
    color: var(--color-black);
    margin: 1rem auto;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.place:last-child {
    margin-bottom: 0;
}

.place_item_header {
    position: relative;
    background-color: var(--bg-blanco-f3);
    height: 50px;
    width: 100%;
    color: var(--color-black);
    font-family: var(--font-questrial);
    text-align: center;
    font-weight: 300;
    font-size: 28px;
    line-height: 50px;
    cursor: pointer;
}

.place_item_header.active {
    color: var(--color-static-white);
    background-color: var(--bg-salmon);
}

.place_item_header::after {
    content: "";
    position: absolute;
    right: 1rem;
    top: 10px;
    display: inline-block;
    background-color: transparent;
    height: 15px;
    width: 15px;
    border-style: solid;
    border-width: 5px 5px 0 0;
    transform: rotate(135deg);
    transition: 0.3s ease transform;
}

.place_item_header.active::after {
    transform: rotate(-45deg);
    top: 20px;
}

.place_item_body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.place_description {
    text-align: center;
    margin-bottom: 20px;
}

.place_description h3 {
    font-family: var(--font-montserrat);
    font-size: 28px;
    margin: 20px 0;
    color: var(--bg-salmon);
}

.place_description p {
    margin: auto;
    max-width: 1000px;
    text-align: justify;
    line-height: 25px;
    padding: 0 10px;
}

.atractivos {
    padding: 30px 0 50px 0;
    text-align: center;
    background-color: var(--bg-blanco-f3);
}

.atractivos h3 {
    font-family: var(--font-montserrat);
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 30px;
    color: var(--bg-salmon);
}

.subcontenedor_atractivos {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    background-color: var(--bg-blanco);
}

.sub_atractivo {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    overflow: hidden;
}
.sub_atractivo:nth-child(even) {
    flex-direction: row-reverse;
}
.atractivos__image {
    height: 100%;
    max-width: 500px;
    flex: 1 0 50%;
}
.atractivos__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.atractivos__description {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    padding: 0 20px;
}

.atractivos__description h4 {
    text-align: left;
    width: 100%;
}

.atractivos__description p {
    text-align: justify;
}

/* Mapa */
.map_ruta {
    max-width: 1366px;
}

.map_ruta_titulo {
    padding: 30px 0;
}

.map_ruta_iframe {
    position: relative;
    padding-top: 56.25%;
}

.map_ruta_iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Itinerario */
.section_itinerario {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.section_itinerario .itinirario_title {
    color: var(--bg-salmon);
}

.itinerario_day {
    margin-top: 20px;
    width: 100%;
}

.itinerario_day .text_day {
    text-align: center;
    font-size: 20px;
    width: 15%;
    margin-bottom: 10px;
    color: var(--color-black);
}

.day_horario {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: var(--color-black);
}

.day_horario .hora {
    width: 15%;
    background-color: var(--bg-salmon);
    font-family: var(--font-poppins);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: var(--color-static-white);
    padding: 5px 0;
}

.day_horario .descripcion_hora {
    width: 80%;
    padding: 5px 0;
    text-align: left;
    font-size: 18px;
}

/* Que incluye y que no */
.what_include {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
}

.include_information {
    position: relative;
    padding: 50px 0;
    background-color: var(--bg-blanco-f3);
    max-width: 900px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 300px;
}

.include {
    width: 250px;
}

.include h3 {
    font-family: var(--font-montserrat);
    font-size: 35px;
    margin-bottom: 15px;
    color: var(--color-black);
}

.include:first-child h3,
.include:first-child ul li::marker {
    color: var(--bg-salmon);
}

.include ul {
    margin-left: 20px;
    color: var(--color-black);

}

.include ul li {
    font-size: 18px;
    line-height: 22px;
}

.include ul li::marker {
    font-size: 20px;
}

.btn_download_infor {
    display: flex;
    bottom: -25px;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 250px;
    height: 50px;
    text-decoration: none;
    background-color: var(--bg-salmon);
    color: var(--color-static-white);
    border-radius: 10px;
}

/* Condciones */
.terms_conditions {
    max-width: 800px;
    width: 90%;
    padding: 0 20px;
    margin: 50px auto 20px auto;
    color: var(--color-black);
}
.terms_conditions .conditiions_title{
    color: var(--bg-salmon);
    margin-bottom: 50px;
}
.terms_conditions>ul li {
    margin-bottom: 5px;
    text-align: justify;
    font-size: 18px;
}

.terms_conditions>ul li::marker {
    color: var(--bg-salmon);
    font-size: 20px;
}

/* mas escapes */
.escapes_recomendados {
    min-height: 500px;
    margin-top: 50px;
}

.ctn_escapes {
    display: flex;
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ctn_escapes .escape {
    width: 450px;
    margin-bottom: 25px;
    background-color: var(--bg-blanco-f3);
}

.escape .escape_img {
    padding-top: 56.25%;
    position: relative;
}

.escape .escape_img img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    image-rendering: pixelated;
}

.escape .escape_infor {
    color: var(--color-black);
    width: 80%;
    margin: auto;
}

.escape_infor h3 {
    font-family: var(--font-montserrat);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}

.escape_infor p {
    text-align: justify;
    font-size: 16px;
    line-height: 22px;
}

.escape_end {
    margin: 25px auto;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.escape_end p {
    font-size: 45px;
    font-weight: bold;
    font-family: var(--font-montserrat);
    color: var(--bg-salmon);
}

.escape_end a {
    width: 145px;
    height: 50px;
    background-color: #000;
    color: var(--color-static-white);
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}
/* Boton de reservacion */
.booking_tour{
    --size-btn: 80px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--size-btn);
    width: var(--size-btn);
    border-radius: 50%;
    background-color: var(--bg-salmon);
    color: var(--color-static-white);
    font-weight: 600;
    font-family: var(--font-poppins);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    z-index: 10000;   
}
.booking_tour_text{
    display: inline-block;
    position: absolute;
    background-color: var(--bg-salmon);
    color: var(--color-static-white);
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    width: 180px;
    padding: 5px 0;
    left: -170px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transform: scaleX(0);
    transform-origin: right center;
    transition: 0.3s ease-in transform;
}
.booking_tour:hover .booking_tour_text{
    transform: scale(1);
}
.booking_tour img{
    width: 50%;
    height: 50%;
}
.booking_tour::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: var(--size-btn);
    width: var(--size-btn);
    border-radius: 50%;
    background-color: var(--bg-salmon);
    z-index: -1;
    animation: pulser 1.5s infinite;
}
@keyframes pulser {
    0%{
        transform: scale(0.95);
        opacity: 0.9;
    }
    100%{
        transform: scale(1.45);
        opacity: 0;
    }
}

.btn_booking_tour{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-salmon);
    width: 250px;
    height: 50px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
    color: var(--color-static-white);
    font-size: 18px;
}
.btn_booking_tour i{
    margin-left: 10px;
    font-size: 22px;
}
.btn_speciall_hover:hover{
    background-color: #ff3943;
}
/* modal de tours */
.modal_tour_esp{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 11000;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in;
}
#solicitar-tour:target{
    opacity: 1;
    visibility: visible;
}
.btn_close_modal{
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 30px;
    color: var(--color-static-white);
    text-decoration: none;
}
.modal_tour_content{
    background-color: var(--bg-blanco-f3);
    max-width: 800px;
    width: 90%;
    min-height: 300px;
    padding: 20px 10px;
    color: var(--color-black);
}
.modal_tour_title{
    font-family: var(--font-questrial);
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
.modal_tour_title strong{
    color: var(--bg-salmon);
}
.modal_tour_form{
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.form_modal_tour_input{
    border-radius: 5px;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
    border: 1px solid #6e6e6e;
    background-color: var(--bg-blanco-f3);
    font-family: var(--font-poppins);
    color: var(--color-black);
}
.form_modal_tour_input::placeholder,
.form_modal_tour_textarea::placeholder{
    font-size: 16px;
    color: var(--color-black);
    font-family: var(--font-poppins);
}
.form_modal_tour_textarea{
    font-family: var(--font-poppins);
    font-size: 15px;
    color: var(--color-black);
    border-radius: 5px;
    padding: 5px 10px;
    height: 40px;
    outline: none;
    background-color: var(--bg-blanco-f3);
    border: 1px solid #6e6e6e;
}
.form_modal_tour_select{
    background-color: var(--bg-blanco-f3);
    color: var(--color-black);
    padding-right: 40px;
}
.form_modal_tour_submit{
    grid-column: 1/-1;
    justify-self: center;
    height: 50px;
    max-width: 350px;
    width: 90%;
    background-color: black;
    font-family: var(--font-poppins);
    font-size: 18px;
    color: var(--color-static-white);
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
}
.form_modal_tour_submit:focus{
    border: 2px solid var(--bg-salmon);
}
::-webkit-calendar-picker-indicator {
    filter: invert(0.4);
}
.form_modal_tour_input:focus,
.form_modal_tour_textarea:focus,
.form_modal_tour_select:focus{
    box-shadow: 0px 0px 2px 2px rgba(248, 86, 93, 0.6);
    border: none;
}
/* Resposive Design */
@media screen and (max-width: 786px) {
    .text_infomation{
        width: 75%;
    }
    .text_infomation .titulo{
        font-size: 38px;
    }
    .text_infomation .descripcion{
        font-size: 16px;
    }
    .place_item_header{
        font-size: 24px;
    }
    .atractivos__description p{
        font-size: 15px;
        line-height: 22px;
    }
    .map_ruta_titulo{
        font-size: 38px;
    }
    .day_horario .hora{
        width: 20%;
        font-size: 16px;
    }
    .day_horario .descripcion_hora{
        width: 75%;
        font-size: 16px;
    }
    .terms_conditions > ul li{
        font-size: 16px;
    }
    .escapes_recomendados{
        margin-top: 40px;
    }
    .ctn_escapes{
        margin-top: 40px;
    }
    .ctn_escapes .escape{
        width: 80%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 680px) {
    .subcontenedor_atractivos{
        width: 90%;
    }
    .sub_atractivo{
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .atractivos__image,
    .atractivos__description{
        flex: 100%;
    }
    .atractivos__image{
        max-width: 100%;
        position: relative;
        padding-top: 56.25%;
    }
    .atractivos__image img{
        position: absolute;
        top: 0;
        left: 0;
    }
    .atractivos__description{
        padding: 20px;
    }
    .atractivos__description h4{
        margin-bottom: 10px;
    }
    .include{
        margin-bottom: 20px;
    }
    .day_horario .hora{
        width: 25%;
        font-size: 16px;
    }
    .day_horario .descripcion_hora{
        width: 70%;
        font-size: 16px;
    }
    .modal_tour_content{
        height: calc(100vh - 20px);
        overflow-y: scroll;
        padding: 10px;
    }
    .modal_tour_form{
        grid-template-columns: 100%;
        grid-gap: 10px;
    }
    .btn_close_modal{
        top: 10px;
        right: 50px;
        color: var(--color-black);
    }
    .modal_tour_title{
        font-size: 25px;
        margin: 0;
        padding: 10px 30px;
        line-height: 35px;
    }
    .form_modal_tour_submit{
        margin-top: 10px;
        height: 50px;
        font-size: 17px;
    }
}

@media screen and (max-width: 500px) {
    .text_infomation{
        width: 80%;
        background: rgba(0, 0, 0, 0.55);
    }
    .text_infomation .titulo{
        font-size: 34px;
    }
    .text_infomation .descripcion{
        font-size: 14px;
    }
    .place_item_header{
        font-size: 20px;
    }
    .place_item_header::after {
        width: 10px;
        height: 10px;
        border-width: 4px 4px 0 0;
        top: 15px;
        right: 0.9rem;
    }
    .include{
        margin-bottom: 30px;
    }  
    .itinerario_day .text_day{
        width: 100%;
    }
    .day_horario .hora{
        width: 30%;
        font-size: 15px;
    }
    .day_horario .descripcion_hora{
        width: 65%;
        font-size: 15px;
    }
    .escape_end p {
        font-size: 35px;
    }
    
    .escape_end a {
        width: 140px;
    }
    .modal_tour_title{
        font-size: 20px;
        padding: 10px 40px;
        line-height: 25px;
    }
}

@media screen and (max-width: 380px) {
    .text_infomation{
        width: 85%;
    }
    .text_infomation .titulo{
        font-size: 30px;
    }
    .text_infomation .descripcion{
        font-size: 14px;
    }
    .place_item_header{
        font-size: 18px;
    }
    .day_horario .hora{
        width: 40%;
        font-size: 15px;
    }
    .day_horario .descripcion_hora{
        width: 55%;
        font-size: 15px;
    }
    .escape_infor p{
        text-align: center;
    }
    .escape_end p {
        font-size: 30px;
    }
    
    .escape_end a {
        width: 100px;
    }
    .modal_tour_content{
        height: calc(100vh - 40px);
        overflow-y: scroll;
        padding: 10px;
    }
    .btn_close_modal{
        top: 20px;
    }
    .booking_tour{
        --size-btn: 70px
    }
    .booking_tour_text{
        font-size: 14px;
        width: 150px;
        left: -140px;
    }
    
}