<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <!-- font material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- favicon -->
    <link rel="shortcut icon" href="./image/favicon.png" type="image/x-icon">

    <!-- css mine -->
    <link rel="stylesheet" href="css/style.css">
    <title>Aventurate y vive tours</title>
</head>

<body>
    <!-- section menu contact -->
    <header class="header">
        <div class="nav_contact">
            <p class="nav_contact_infor">
                <a href="tel:+593123456789">(+593) 123-456-789</a>
                <i class="fas fa-phone-alt"></i>
            </p>
            <p class="nav_contact_infor">
                <a href="mailto:aventurate@gmail.com">aventurate@gmail.com</a>
                <i class="fas fa-envelope"></i>
            </p>
            <ul class="nav_contact_social-media">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="btn_dark">
                    <button class="btn_dark_mode" id="btn_dark_mode">
                        <i class="fas fa-moon"></i>
                        <i class="fas fa-sun"></i>
                    </button>
                </li>
            </ul>
        </div>
    </header>
    <!-- section menu main -->
    <nav class="nav_header_main sticky" id="nav_header_main">
        <a href="#" class="logo">
            <h1 class="title_special">Aventurate y Vive tours</h1>
            <img src="image/logo_main_black.png" alt="logo aventurate y vive tours">
        </a>
        <div class="btn_hamburger" id="btn_hamburger">
            <span class="hamb_part_1"></span>
            <span class="hamb_part_2"></span>
            <span class="hamb_part_3"></span>
        </div>
        <ul class="nav_enlaces" id="nav_enlaces">
            <li class="languages">
                <div class="option_selected"><span>ES</span></div>
                <ul class="options_language">
                    <li><a class="option_lang" href="#ES">Español ES</a></li>
                    <li><a class="option_lang" href="#EN">Ingles EN</a></li>
                </ul>
            </li>
            <li><a class="enlaces" href="./index.html">home</a></li>
            <li><a class="enlaces" href="./tours.html">tours</a></li>
            <li><a class="enlaces" href="#galeria">galeria</a></li>
            <li><a class="enlaces" href="./contactos.html">contactos</a></li>
        </ul>
    </nav>
    <main class="main_contactos container">
        <h2 class="subtitle">Contacta <strong>con Nosotros</strong></h2>
        <div class="sub_contenedor_contactos">
            <form action="" class="form_contactos">
                <input type="text" name="" id="" class="form_contactos_input" placeholder="Nombre y Apellido">
                <input type="email" name="" id="" class="form_contactos_input" placeholder="email@dominio.com">
                <textarea name="" id="" cols="10" rows="10" class="form_contactos_textarea" placeholder="Mensaje"></textarea>
                <input type="submit" value="Enviar Mensaje" class="form_contactos_submit btn_speciall_hover">
            </form>
            <div class="sub_contenedor_infor">
                <a href="tel:+593982863244" class="infor_icon">
                    <i class="fas fa-mobile-alt"></i>
                    <span>+593982863244</span>
                </a>
                <a href="mailto:+angello.pruebas@outlook.com" class="infor_icon">
                    <i class="far fa-envelope"></i>
                    <span>angello.pruebas@outlook.com</span>
                </a>
                <div class="infor_icon">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Quito - Ecuador</span>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer_image">
            <img src="./image/footer_1.png" alt="Montañas">
        </div>
        <div class="footer_logo">
            <img src="./image/logo_footer.png" alt="logo aventurate y vive tours">
        </div>
        <nav class="nav_footer">
            <div class="footer_nav_enlaces">
                <a href="#" class="enlaces active">home<span class="fix"></span></a>
                <a href="#" class="enlaces">tours<span class="fix"></span></a>
                <a href="#galeria" class="enlaces">galeria<span class="fix"></span></a>
                <a href="#" class="enlaces">contactos<span class="fix"></span></a>
            </div>
            <ul class="nav_contact_social-media">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
            <p class="footer_copyright">Copyright 2021</p>
        </nav>
    </footer>

    <script src="js/main.js" type="module"></script>
</body>

</html>